﻿@model Warsztat.Models.Potwierdzenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Potwierdzenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Faktura.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odebrane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odebrane)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PotwierdzenieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
