﻿@model Warsztat.Models.Pracownik

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funkcja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funkcja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZatrudnienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZatrudnienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZwolniania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZwolniania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrzepracowaneGodziny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrzepracowaneGodziny)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrLokalu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrLokalu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrKonta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrKonta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
