﻿@model Warsztat.Models.PojedynczaNaprawa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PojedynczaNaprawa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klient.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pracownik.Funkcja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pracownik.Funkcja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRozpoczecia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRozpoczecia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZakonczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZakonczenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PojedynczaNaprawaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
