﻿<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Dzieki zastosowaniu podejscia CodeFirst mamy bezprośrednią kontrolę na wyglądem tabel oraz ich powiązań z poziomu VisualStudio.</p>
<p>Zaimplementowane zostały model związane z osobami zatrudnionymi/klientami oraz powiązania między nimi dzięki zastosowaniu modelu "People" </p>
