﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Uwagi, podoba sie? Napisz!</h4>

<address>
    Politechnika Wroclawska<br />
    Wroclaw<br />
    Wybrzeze Wyspianskiego<br />
    <abbr title="Tel">P:</abbr>
    xx.XXX.XXX.XXX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dzbik.konrad@gmail.com">Konrad</a><br />
    <strong>Support:</strong> <a href="mailto:xxx.karol@gmail.com">Karol</a>
</address>